flask
flask-sqlalchemy
flask-migrate
psycopg2-binary
flask-bcrypt
flask-jwt-extended
python-dotenv
google-generativeai
qdrant-client
langchain
pypdf
flask-marshmallow
marshmallow-sqlalchemy
flask-cors 
nest_asyncio
gunicorn
